main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

article {
    width: 80%;
    height: 90%;
    margin: 0;
    background: #fff5;
    backdrop-filter: blur(10px);
    box-shadow: 0 .5rem .5rem #0005;
    border-radius: 1rem;
    overflow: overlay;
}

article::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

article::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: #0005;
    visibility: hidden;
}

article:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

form textarea {
    resize: none;
}

form ul li {
    list-style: none;
}

form ul li a {
    text-decoration: none;
    color: black;
}

.modal-header input {
    width: 35%;
    padding: 1rem;
    background: #afa8;
    border: none;
    outline: none;
    border-radius: 2rem;
}

.modal-header input:hover {
    box-shadow: 0 .1rem .1rem #0005;
}

table, th, td {
    padding: 0.5rem 1rem;
}

.modal-body tbody a {
    text-decoration: none;
    color: black;
}

.modal-body tbody tr:nth-child(even) {
    background: #0000000f;
}

.modal-body tbody tr:hover {
    cursor: pointer;
    font-weight: 800;
}

.shop-name {
    width: 30%;
}

.category {
    width: 10%;
}

.road-name {
    width: 55%;
}

.rating {
    transform:  rotateY(180deg);
    display: flex;
    justify-content: end;
}

.rating label {
    display: block;
    cursor: pointer;
    width: 25px;
}

.rating input {
    display: none;
}

.rating label::before {
    content: '\f005';
    font: var(--fa-font-solid);
    position: relative;
    display: block;
    font-size: 25px;
    color: #101010;
}

.rating label::after {
    content: '\f005';
    font: var(--fa-font-solid);
    position: absolute;
    display: block;
    font-size: 25px;
    color: #62be56;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.rating label:hover::after,
.rating label:hover ~ label::after,
.rating input:checked ~ label::after {
    opacity: 1;
}

.error {
    visibility: hidden;
}

.is-error {
    color: red;
    visibility: none;
}

.thumbnail img {
    width: 128px;
    height: 128px;
}

.thumbnail img:hover {
    cursor: pointer;
    transform: scale(1.2);
}