<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">


<th:block layout:fragment="script">
    <script th:inline="javascript">
    </script>
</th:block>
<th:block layout:fragment="title">
    <title>리뷰</title>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/review/reviewDtl.css">
    <script src="https://kit.fontawesome.com/c7fac7a543.js" crossorigin="anonymous"></script>
</th:block>
<main layout:fragment="content">
    <div class="frame p-5">
        <div class="shop-info d-flex align-items-center">
            <p class="category px-3 py-1 fw-bold" th:text="${reviewDtlDto.category}">한식</p>
            <p class="ms-3 fw-bold" th:text="${reviewDtlDto.shopName}">상호명</p>
        </div>
        <h1 class="mb-3" th:text="${reviewDtlDto.title}">제목</h1>
        <div class="info d-flex align-items-center mb-3">
            <img src="https://via.placeholder.com/250" th:src="${reviewDtlDto.profileImgUrl}" alt="" class="profile">
            <div class="ms-3">
                <p class="m-0 fw-bold" th:text="${reviewDtlDto.nickname}">닉네임</p>
                <p class="m-0" th:text="${#temporals.format(reviewDtlDto.createTime, 'yyyy-MM-dd')}">2022-02-22</p>
            </div>

        </div>
        <div class="rating my-3">
            <input type="radio" name="start" id="star1" value="5" onclick="return(false);" th:checked="${reviewDtlDto.rating == 5}">
            <label for="star1"></label>
            <input type="radio" name="start" id="star2" value="4" onclick="return(false);" th:checked="${reviewDtlDto.rating == 4}">
            <label for="star2"></label>
            <input type="radio" name="start" id="star3" value="3" onclick="return(false);" th:checked="${reviewDtlDto.rating == 3}">
            <label for="star3"></label>
            <input type="radio" name="start" id="star4" value="2" onclick="return(false);" th:checked="${reviewDtlDto.rating == 2}">
            <label for="star4"></label>
            <input type="radio" name="start" id="star5" value="1" onclick="return(false);" th:checked="${reviewDtlDto.rating == 1}">
            <label for="star5"></label>
        </div>

        <hr class="my-3">
        <pre class="content" th:text="${reviewDtlDto.content}">
        </pre>
        <hr class="my-3">
        <div class="thumbnail my-3">
            <img src="https://via.placeholder.com/1000" class="img-thumbnail me-1" alt="..." onclick="window.open(this.src)" th:each="reviewImg : ${reviewDtlDto.fileUrl}" th:src="${reviewImg}">
        </div>
        <div class="text-center my-3">
            <input type="hidden" th:value="${reviewDtlDto.id}" id="review-id">
            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/review/update/{reviewId}(reviewId=${reviewDtlDto.id})}'|" th:if="${#authentication.name == reviewDtlDto.createBy}">수정</button>
            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/review/board}'|">목록</button>
            <button class="btn btn-primary" id="del-review" type="button" th:if="${#authentication.name == reviewDtlDto.createBy}">삭제</button>
        </div>
    </div>
    <script src="/js/reviewDtl.js"></script>
</main>

</html>